<div class="container">
    <div class="col-lg-auto">
        <h1>累計稼働時間：<%= @all_elapsed_time[current_user.id] %> 秒</h1>
        <h1>累計平均時給：<%= @all_hourly_wage[current_user.id] %>円</h1>
        <h1>累計収入：<%= @all_price[current_user.id] %>円</h1>
        <h1>さあ、今日も自分に厳しく時給を管理しよう。</h1>
        
    </div>
</div>

