<div class="text-white col-md-auto pt-5" style="height: 400px">
    <h1>時給管理を<br>もっとシビアに</h1>
    <h3 class="mt-2">時給管理ツールHourly Wage</h3>
    <p class="mx-auto pt-5 pb-3" style="width: 300px;">
        <%= link_to "まずは新規登録", new_user_registration_path, class:"new-user" %>
    </p>
    <p class="mx-auto" style="width: 300px;">
      <%= link_to "> ログイン(登録ユーザーはこちら)", new_user_session_path, class:"text-light" %>    
    </p>
</div>

<div class="col-md-12 bg-light pt-5 pb-5">
            <div class="text-center pb-5">
                 <h2>Hourly Wageは時間あたりの報酬を明らかにし<br>記録できるツールです。</h2>
            </div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top mx-auto img-fluid" style="width: 280px; height: 240px;" alt="Bootstrap Thumbnail First" src="assets/shigoto.png" />
						<div class="card-block">
							<h5 class="card-title text-center py-3">
								やる気アップ
							</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
							<img class="card-img-top mx-auto img-fluid" style="width: 280px; height: 240px;" alt="Bootstrap Thumbnail Second" src="assets/sabori.png" />
						<div class="card-block">
							<h5 class="card-title text-center py-3">
								サボりの可視化
							</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top mx-auto img-fluid" style="width: 280px; height: 240px;" alt="Bootstrap Thumbnail Third" src="assets/log.png" />
						<div class="card-block">
							<h5 class="card-title text-center py-3">
								タスクを記録して管理
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>