<div class=" p-3">
    <img src="/assets/clock.jpg" class="rounded mx-auto d-block" alt="">
</div>
<div>
    <h1 class="pt-3">時給を意識して仕事できるようにしよう</h1>
    <p>特徴についてこんな感じです。特徴についてこんな感じです。特徴についてこんな感じです。
        特徴についてこんな感じです。特徴についてこんな感じです。特徴についてこんな感じです。
        特徴についてこんな感じです。</p>
</div>
