<div class="container">
    <h1>時給ログ</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="d-none d-sm-table-cell">
                    #
                </th>
                <th>
                    時給
                </th>
                <th>
                    日付
                </th>
                <th>
                    かかった時間
                </th>
                <th class="d-none d-sm-table-cell">
                    仕事単価
                </th>
                <th>
                    内容        
                </th>
                <th>
                    
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody id="posts">
        <%= render @posts %>
        </tbody>
    </table>
    <div id="paginator">
        <%= paginate @posts, them: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b", remote: true %>
    </div>
</div>