<div class="container">
    <div class="col-lg-auto">
        <h1>お疲れ様でした。<br>今回は仕事が終わるまでに<br><%= @result %>かかりました</h1>
        <%= link_to '時給計算ログで記録を確認', posts_path , class:"btn btn-primary btn-lg"%>
    </div>
</div>

