<div class="container">
    <div class="col-lg-auto">
        <h1 class="title">今回の業務</h1>
        <div class="contents_head">
            <h3>
                業務内容： <%= @post.description%>
            </h3>
            <h3>
                報酬：<%= @post.price%>円
            </h3>

            <h1 class="c-title">タスクを開始しよう！</h1>
        </div>
        <div>
            <div class="stopwatch">
                <span id="youso1">0:00'00''0</span>
            </div>
            <div class="btn_field">
                <%= form_tag(start_time_post_path, method: :post, remote: true) do %>
                    <input type="submit" value="Start" style="width: 320px;" class="btn btn-primary btn-change" id="startbtn1">
                <% end %>
                <div id="stop-button"></div>
            </div>
        </div>
    </div>
</div>

<script>
   var a = 0;
   var tm1 = null;

    $(function() {
        // スタートボタン
        $("#startbtn1").click(function() {
            if(tm1 == null) { tm1 = setInterval("panda1()",100); }
        });
    });

    function panda1() {
        a += 1;
        var sec = a % 10;
        var byo = Math.floor(a / 10) % 60;
        var fun = Math.floor(a / 600) % 60;
        var ji = Math.floor(a / 36000) % 60;

        // 時間の表示を更新している
        $("#youso1").text(('0' + ji).slice(-1) + ":" + ('00' + fun).slice(-2) + "'" + ('00' + byo).slice(-2) + "''" + sec);
    }
</script>

<script>
    $(function(){
        $('.btn-change').on('click', function(){
            $('input').hide();
            $(".c-title").text("仕事が終わったら終了を押してください");
        });
       
    });
    
</script>

